* {
    margin: 0;
    padding: 0;
    font-family: F25_Executive;
}

.bg-image {
    background-image: url(metal_plate.png);
    background-position: center;
    background-size: 80px;
    background-color: white;
    opacity: 0.75;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    position: absolute;
}
.vignette {
    background-image: url(vignette.png);
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.hero {
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #e0e0e0;
    box-shadow: inset -25px 25px 50px #d3d3d3,
                inset 25px -25px 50px #ededed;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    
}


#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #8BC0BA;
    transition: .5s;
}




.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    border-top: 1px;
    outline: none;
    background: transparent;

}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #777;
    border: 0;
    outline: none;

}

.check-box {
    margin: 30px 10px 35px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;

    
}

#login {
    left: 50px;

}

.registration-btn{
    color:#777;
    font-size:14px;
    padding: 30px ;
    position:absolute;
    text-decoration: none;
}
