* {
    margin: 0;
    padding: 0;
    font-family: Retro_Gaming;
}

body {
    background: white url(images/metal_plate.png);
    background-position: center;
    background-size: 80px;
    color: white;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    position: absolute;
}

.gradient {
    background-image: linear-gradient(180deg, white, black);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.vignette {
    background-image: url(images/vignette.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.hero {
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    width: 400px;
    height: 480px;
    position: relative;
    margin: auto;
    background: #e0e0e0;
    padding: auto;
    overflow: hidden;
}

.img {
    image-rendering: pixelated;
}

.charwalk {
    image-rendering: pixelated;
    padding-top: 80px;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid #999;
    border-top: 0px;
    outline: none;
    background: transparent;

}

.submit-btn {
    border-style: solid;
    border-width: 20px;
    border-image: url(images/boxCorner.png) 4 stretch;

    line-height: 0;
    image-rendering: crisp-edges;
    border-style: solid;
    font-size: 20px;
    color: white;
    height: auto;
    margin: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    text-align: center;
    
}

.submit-btn p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px 0px;
  line-height: 10px;
  padding: 15px 65px;
  background: #000000;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.check-box {
    margin: 30px 10px 10px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 60px;
}
#register {
     left: 60px;
}

.registration-btn{
    color:#777;
    font-size:14px;
    padding: 30px ;
    position:absolute;
    text-decoration: none;
}
@font-face {
    font-family: Retro_Gaming;
    src: url(Retro\ Gaming.ttf);
}
