* {
    font-family: Retro_Gaming;
}

body {
    background: #263030 url(images/gameAssets/tiles.png);
    background-size: 80px;
    color: #263030;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    position: absolute;
}

.gradient {
    background-image: linear-gradient(180deg, #263030, #060909);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 90%;
}

.vignette {
    background-image: url(images/vignette.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

#canvas {
    width: auto;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 40px;
    background-color: #000;
    z-index: 1;
 }

 #muteButton {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/volume_toggle.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none;
    z-index: 2;
    top: 500px;
    left: 660px;
 }
 
 @font-face {
    font-family: Retro_Gaming;
    src: url(Retro\ Gaming.ttf);
}