* {
    font-family: Retro_Gaming;
}

body {
    background: #263030 url(images/gameAssets/tiles.png);
    background-size: 80px;
    color: #263030;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    position: absolute;
}

.gradient {
    background-image: linear-gradient(180deg, #263030, #060909);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 90%;
}

.vignette {
    background-image: url(images/vignette.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

#canvas {
    width: auto;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 40px;
    background-color: #000;
    background-image: url(images/gameAssets/tiles.png);
    background-size: 40px;
    z-index: 1;
 }

 #muteButton {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/volume_toggle.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none;
    z-index: 2;
    top: 500px;
    left: 660px;
 }

 #scoreDisplay {
    width: auto;
    position: absolute;
    font-size: 12px;
    color: #fff;
    z-index: 2;
    top: 514px;
    left: 40px;

    text-shadow:    -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000,
                    -1px 0px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    scale: 1.25;
 }

 .upload-field{
    background-color: white;
    display: flex;
    top: 120px;
    right: 120px;
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    background: #e0e0e0;
    overflow: hidden;
    justify-content: space-evenly;
    z-index: 100;
    float: right;
}
 
 @font-face {
    font-family: Retro_Gaming;
    src: url(Retro\ Gaming.ttf);
}