* {
    margin: 0;
    padding: 0;
    font-family: Retro_Gaming;
}

body {
    background: white url(images/gameAssets/metal_plate.png);
    background-position: center;
    background-size: 80px;
    color: white;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    position: absolute;
}

.gradient {
    background-image: linear-gradient(180deg, white, black);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.vignette {
    background-image: url(images/vignette.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.hero {
    display: table;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-box {
    display: flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    top: 40px;
    width: 400px;
    height: 560px;
    position: relative;
    margin: auto;
    background: #e0e0e0;
    padding: auto;
    overflow: hidden;
    justify-content: space-evenly;
}

.img {
    image-rendering: pixelated;
}

.charwalk {
    position: absolute;
    image-rendering: pixelated;
    top: 160px;
}

.logo {
    position: absolute;
    image-rendering: pixelated;
    top: 40px;
}

.input-group {
    top: 240px;
    position: absolute;
    width: 320px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid #999;
    border-top: 0px;
    outline: none;
    background: transparent;

}

.submit-btn {
    border-width: 20px;
    border-image: url(images/boxCorner.png) 4 stretch;
    line-height: 0;
    image-rendering: pixelated;
    border-style: solid;
    font-size: 20px;
    color: white;
    height: auto;
    margin: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    text-align: center;
    background-color: transparent;
    margin-top: 50px;
}

.submit-btn p {
    display: flex;
    justify-content: center;
    vertical-align: top;
    position: relative;
    width: 90px;
    text-align: center;
    margin: -20px 0px;
    line-height: 10px;
    padding: 15px 65px;
    background: #000000;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.check-box {
    margin-top: 16px;
}

span {
    color: #777;
    font-size: 12px;
    position: absolute;
    margin: 15px 8px;
}

#login {
    display: inline-block;
}

#register {
    display: inline-block;
}

.text-btn {
    color: #777;
    font-size: 14px;
    padding: 30px;
    position: absolute;
    text-decoration: none;
    text-align: center;
    margin-top: -20px;
}


@font-face {
    font-family: Retro_Gaming;
    src: url(Retro\ Gaming.ttf);
}

.error {
    color: red;
    background-color: #e0e0e0;
    text-align: center;
}
