* {
    margin: 0;
    padding: 0;
    font-family: Retro_Gaming;
}

body{
    image-rendering: pixelated;
}

#topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: Black;
    font-size: 16px;
    display: flex;
    align-items: center;
    z-index: 20;
 }

 .buttons {
    margin-left: auto;
 }

 .nav-link {
    display: inline-block;
    width: 120px;
    height: 50px;
    color: White;
    text-align: center;
    line-height: 50px;
    
    text-decoration: none;
    float: right;
    border-left: 4px solid #999;
 }

 .logo {
    margin-left: 10px;
    margin-right: 10px;
}
 
 @font-face {
    font-family: Retro_Gaming;
    src: url(Retro\ Gaming.ttf);
}