* {
    margin: 0;
    padding: 0;
    font-family: Retro_Gaming;
}

body{
    image-rendering: pixelated;
}

#topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: Black;
    font-size: 16px;
    display: flex;
    align-items: center;
    z-index: 20;
    box-shadow:
    0px 5px 0px 0px rgba(0, 0, 0, 0.5), 
    0px 10px 0px 0px rgba(0, 0, 0, 0.4), 
    0px 15px 0px 0px rgba(0, 0, 0, 0.3), 
    0px 20px 0px 0px rgba(0, 0, 0, 0.2),
    0px 25px 0px 0px rgba(0, 0, 0, 0.1);
 }

 .buttons {
    margin-left: auto;
 }

 .nav-link {
    display: inline-block;
    width: 120px;
    height: 50px;
    color: White;
    text-align: center;
    line-height: 50px;
    
    text-decoration: none;
    float: right;
    border-left: 4px solid #999;
 }

 .logo {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
 
 @font-face {
    font-family: Retro_Gaming;
    src: url(Retro\ Gaming.ttf);

}

.upload-field{
    display: flex;
    top: 120px;
    right: 120px;
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    background: #e0e0e0;
    overflow: hidden;
    justify-content: space-evenly;
    z-index: 100;
    float: right;

}